
<!-- Presentación -->
<section class="seguimiento-egresados">
    <div class="contenedor">
        <h1>Seguimiento Institucional de Egresados ITD</h1>

        <p>
            <strong>¡Hola, Orgullo Guinda!</strong>
        </p>

        <p>
            Aunque tus pasos ahora recorren nuevos caminos profesionales, para el Tecnológico de Durango sigues estando
            en casa.
            Eres parte fundamental de nuestra historia y de esta gran familia que hemos construido juntos.
        </p>

        <p>
            Nos encantaría saber qué ha sido de ti y celebrar tus logros. Por ello, hemos unificado esfuerzos para
            facilitarte las cosas:
            te invitamos a completar este <strong>formato único </strong> (4 secciones breves / 16 preguntas).
            Con este solo paso, podremos reconectar contigo, invitarte a eventos exclusivos y abrirte puertas en nuestra
            bolsa de trabajo.
        </p>

        <p>
            Para fortalecer nuestra red de apoyo, instancias aliadas tendrán acceso a datos limitados de contacto,
            siempre en estricto apego a la
            <strong>Ley de Protección de Datos Personales</strong>. <br>
            Estas son:
        </p>

        <p>
            Asociación de Egresados del Tecnológico de Durango, Fundación ITD, Consejo de Vinculación,
            Patronato Promotor del Desarrollo del ITD A.C.
        </p>

        <p>
            Tu información es valiosa y confidencial. Gracias por llevar el espíritu del ITD a donde quiera que vayas.
        </p>

        <p class="mensaje-final">
            <strong>¡Sigamos conectados!</strong>
        </p>
    </div>
</section>