
<!-- Sección de Logos -->
<section class="seguimiento-egresados">

    <div class="seguimiento-container">

        <h2 class="seguimiento-titulo">
            Seguimiento Institucional de Egresados <strong>ITD</strong>
        </h2>

        <div class="logos-egresados">

            <img src="/assets/LogoTecNM.png" alt="Logo 1">
            <img src="/assets/LogoITD.png" alt="Logo 2">
            <img src="/assets/LogoRSU.png" alt="Logo 3">
            <img src="/assets/LogoASETED.png" alt="Logo 4">
            <img src="/assets/Patronato.png" alt="Logo 5">
            <img src="/assets/LogoConsejoVinculación.png" alt="Logo 6">

        </div>

    </div>

</section>